.marking_id[label="Молоко и сливки"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Масло сливочное"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Сыры"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Творог"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Кисломолочные продукты"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Сгущенное молоко"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Сухое молоко"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Мороженое"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Воды минеральные и питьевые"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Сигареты и папиросы"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Одежда"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Шины и покрышки"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Парфюмерная продукция"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Изделия из меха"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Обувь"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
