.marking_id[label="Вода минеральная и питьевая, л"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Изделия из меха, шт."]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Лекарственные средства, пачка"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Масло сливочное, кг"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Молоко питьевое цельное пастеризованное 2,5-3,2% жирности, л"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Молоко питьевое цельное стерилизованное 2,5-3,2% жирности, л"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Обувь детская, пара"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Обувь женская, пара"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Обувь мужская, пара"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Сигареты, пачка"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Сметана, кг"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Сыры сычужные твердые и мягкие, кг"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Творог, кг"]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Товары легкой промышленности, шт."]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
.marking_id[label="Фототехника, шт."]:after {
content: url("Untitled.svg");
display:inline-block;
width: 20px; 
height: 20px;
vertical-align: -75%;
margin-left:5px;
            }
